
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

/*СТИЛИ*/

body{
	background: #a1bfba;
}


/*ШАПКА*/
header{
	width: 100%;
	height: 70px;
	background: #57948d;
	font-family: 'Roboto';
	/*transition: all 2s ease-in-out;*/
}


header .hed_cont{
	height: inherit;
	display: flex;
	align-items: center;
}

.logo {
	font-weight: 700;
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.logo a {
	color: #000;
	transition: all .08s ease-in-out;
}
.logo a:hover {
	opacity: 0.6;
}

.hader_nav{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-left: 30px;
}

.hader_nav li {
	display: inline-block;
}

.hader_nav li a {
	opacity: 0.6;
	padding: 15px;
	color: #000;
	transition: all .08s ease-in-out;
}
.hader_nav li a:hover {
	opacity: 1;
}

.hader_nav_download {
	margin-left: 40px;
	padding: 10px 30px;
	color: #000;
	background: #57c5d4;
	border-radius: 100px;
	transition: all .08s ease-in-out;
}
.hader_nav_download:hover {
	opacity: 0.6;
	background: #84c2bb;
	border-radius: 10px;
}